<!-- Page Header -->
<section class="content-header">
    <div class="page-header row no-gutters py-4">
        <div class="col-12 col-sm-4 text-center text-sm-left mb-4 mb-sm-0">
            <span class="text-uppercase page-subtitle">SUPERP</span>
            <h3 class="page-title">Edit Teacher</h3>
        </div>
        <div class="d-none d-sm-block offset-sm-4 col-4 col-12 col-sm-4 justify-content-end">
            <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="<?= $this->Url->build(["controller" => "Teachers", "action" => "index"]); ?>">Home</a></li>
                <li class="breadcrumb-item active">Teachers</li>
            </ol>
        </div>
    </div>
    <!-- End Page Header -->
</section>

<section class="content">
    <div class="row">
        <div class="col-lg-7 col-sm-12 col-md-12">
            <div class="card card-small mb-4">
                <div class="card-body p-0 pb-3">
                    <div class="card-body d-flex flex-column">
                        <?= $this->Form->create(null, ['type' => 'file', 'role' => 'form']); ?>


                        <div class="form-group">
                            <label for="department_name">Department</label>
                            <select class="form-control" name="department_id" value="<?= $data['department_id'] ?>" required>
                                <option data-display="Select Department" value="" disabled selected>Please Select Department</option>
                                <?php foreach ($departments as $key => $val) : ?>
                                    <option value="<?= $val['id'] ?>" <?= $data['department_id'] == $val['id'] ? 'selected' : '' ?>><?= ucwords($val['dept_name']) ?></option>
                                <?php endforeach; ?>
                            </select>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-6">
                                    <label for="first_name">First Name</label>
                                    <input type="text" name="first_name" value="<?= $data['first_name'] ?>" placeholder="Please Enter Name" class="form-control" required>
                                </div>
                                <div class="col-sm-6">
                                    <label for="last_name">Last Name</label>
                                    <input type="text" name="last_name" value="<?= $data['last_name'] ?>" placeholder="Please Enter Name" class="form-control" required>
                                </div>
                            </div>

                        </div>

                        <div class="form-group">
                            <div class="row">
                                <div class="col-6">
                                    <label for="dob">Date of Birth </label>
                                    <input type="date" name="dob" value="<?= $data['dob'] ?>" placeholder="Please Enter Dob" class="form-control" required>
                                </div>
                                <div class="col-6">
                                    <label for="gender">Gender</label>
                                    <select class="form-control" name="gender" id="gender">
                                        <option value="Male" <?= $data['gender'] == 'MALE' ? 'selected' : ' ' ?>>Male</option>
                                        <option value="Female" <?= $data['gender'] == 'FEMALE' ? 'selected' : ' ' ?>>Female</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="email" name="email" value="<?= $data['email'] ?>" placeholder="Please Enter Email" class="form-control" required>
                        </div>

                        <div class="form-group">
                            <label for="qualification">Qualification</label>
                            <input type="text" name="qualification" value="<?= $data['qualification'] ?>" placeholder="Please Enter Qualification" class="form-control" required>
                        </div>

                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-6">
                                    <label for="mobile">Mobile</label>
                                    <input type="text" name="mobile" value="<?= $data['mobile'] ?>" placeholder="Please Enter Mobile Number" class="form-control" required>
                                </div>
                                <div class="col-sm-6">
                                    <label for="blood_group">Blood Group</label>
                                    <select class="form-control" name="blood_group">
                                        <option data-display="Select Blood Group" value="" disabled selected>Please Select Blood Group</option>
                                        <option value="A+" <?= $data['blood_group'] == 'A+' ? 'selected' : '' ?>>A+</option>
                                        <option value="A-" <?= $data['blood_group'] == 'A-' ? 'selected' : '' ?>>A-</option>
                                        <option value="B+" <?= $data['blood_group'] == 'B+' ? 'selected' : '' ?>>B+</option>
                                        <option value="B-" <?= $data['blood_group'] == 'B-' ? 'selected' : '' ?>>B-</option>
                                        <option value="O+" <?= $data['blood_group'] == 'O+' ? 'selected' : '' ?>>O+</option>
                                        <option value="O-" <?= $data['blood_group'] == 'O-' ? 'selected' : '' ?>>O-</option>
                                        <option value="AB+" <?= $data['blood_group'] == 'AB+' ? 'selected' : '' ?>>AB+</option>
                                        <option value="AB-" <?= $data['blood_group'] == 'AB-' ? 'selected' : '' ?>>AB-</option>
                                    </select>

                                </div>
                            </div>
                        </div>

                        <div class="file-upload">
                            <button class="btn btn-accent btn-block" type="button" onclick="$('.file-upload-input').trigger( 'click' )">Edit Image</button>
                            <div class="image-upload-wrap">
                                <input class="file-upload-input" type='file' name="image_value" onchange="readURL(this);" accept="image/*" />
                                <div class="drag-text">
                                    <h5>Drag and drop a file or select add Image</h5>
                                </div>
                            </div>
                            <div class="file-upload-content">
                                <img id="product-primary-image" class="file-upload-image" src="<?= $this->request->getAttribute('webroot') . $data['image_dir'] . $data['image_value'] ?>" alt="your image" data="<?= $data['image_value'] ?>" />
                                <div class="image-title-wrap">
                                    <button type="button" onclick="removeUpload()" class="remove-image">Remove <span class="image-title">Uploaded Image</span></button>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="address">Address</label>
                            <textarea name="address" placeholder="Please Enter Address" class="form-control"><?= $data['address'] ?></textarea>
                        </div>

                        <div class="form-group">
                            <label for="is_active">Is Active</label>
                            <select class="form-control" name="is_active" id="is_active">
                                <option value="1" <?= $data['is_active'] == 1 ? 'selected' : ' ' ?>>Yes</option>
                                <option value="0" <?= $data['is_active'] == 0 ? 'selected' : ' ' ?>>No</option>
                            </select>
                        </div>
                        <div class="form-group mb-0 float-right">
                            <button type="submit" class="btn btn-accent sticky-action-btn">Edit Teacher</button>
                        </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>