<div class="card">
    <div class="card-body" style="overflow: hidden;box-shadow: inset 0 4px 0 0 #007bff;border-radius: .625rem;">
        <img class="auth-form__logo d-table mx-auto mb-3" src="<?= $this->request->getAttribute('webroot') . 'img/backend/' ?>superman.png" alt="LOGO">
        <h5 class="auth-form__title text-center mb-4">Welcome Back!</h5>
        <?= $this->Form->create(null, ['role' => 'form']); ?>
        <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" name="username" aria-describedby="emailHelp" placeholder="Enter email">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" name="password" id="exampleInputPassword1" placeholder="Password">
        </div>
        <div class="form-group mb-3 d-table mx-auto">
            <div class="custom-control custom-checkbox mb-1">
                <input type="checkbox" class="custom-control-input" id="customCheck2">
                <label class="custom-control-label" for="customCheck2">Remember me for
                    30 days.</label>
            </div>
        </div>
        <button type="submit" class="btn btn-pill btn-accent d-table mx-auto">Sign In</button>
        </form>
    </div>
    <div class="card-footer">
    </div>
    <!-- <div class="card-footer border-top">
        <ul class="auth-form__social-icons d-table mx-auto">
            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
            <li><a href="#"><i class="fab fa-github"></i></a></li>
            <li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
        </ul>
    </div> -->
</div>

<div class="auth-form__meta d-flex mt-4">
    <a href="<?= $this->Url->build(["controller" => "Admins", "action" => "forgot_password"]) ?>">Forgot your password?</a>
    <a class="ml-auto" href="register.html">Create new account?</a>
</div>